{% extends "base.html" %}

{% block title %} Successfully changed your email {% endblock %}


{% block content %}

<section class="information_page">
    <div class="container-fluid text-center">
        <div class="jumbotron mt-6">
            <h1>Successfully changed your email</h1>

            <p class="lead displayMessage">
                You can now login with your new email address once it has been verified. Check your inbox or junk or spam
            </p>
            <hr class="my-4">
        </div>

    </div>


</section>

{% endblock %}