{% extends "base.html" %}

{% block title %} Successfully changed your password {% endblock %}


{% block content %}

<section class="information_page">
    <div class="container-fluid text-center">
        <div class="jumbotron mt-6">
            <h1>Successfully changed your password</h1>

            <p class="lead displayMessage">
                You can now login with your new password. An email has been sent to your email informing you of the password
                change
            </p>
            <hr class="my-4">
        </div>

    </div>


</section>

{% endblock %}