{% extends "base.html" %}

{% block title %} Page is under construction {% endblock %}


{% block content %}

<section class="information_page">
    <div class="container-fluid text-center">
        <h1 class="display-4 error_code">Under construction</h1>
        <p class="lead displayMessage">The page does is under construction and it will be ready soon

        </p>
        <p class="lead displayMessage">
            Don't worry hit the back button and you to go back to the homepage
        </p>
        <hr class="my-4">
        <p></p>

        <div class="home_button">
            <a class="btn btn-primary btn-lg" href="{{ url_for('home_app.home') }}" role="button">Take me home</a>

        </div>

    </div>


</section>

{% endblock %}