{% extends "base.html" %}

{% from "__formhelpers.html" import render_field %}
{% block title %}Forgotten Password {% endblock %}


{% block content %}
<section id="ForgottenPassword">

      <div class="container ForgottenPassword">

          {% include "flash_messages.html" %}
        <div class="col-lg-12">
          <h1>Forgotten Password</h1>
              <p class="lead">Enter your email and if your email exist we send you a reset password link</p>
          <hr>

          <form method="post" action="{{ url_for('account_app.reset_password') }}" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">

              {{ render_field(form.email, class="form-control", required=required) }}
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Submit</button>
            </div>

          </form>

        </div>
      </div>

</section>


{% endblock %}